body {
    background-color:#f4f4f4;
}

.logo {
    padding:10px;   
    img {
        width:200px;
        margin:10px;
    }
}

.status-container {
    margin:20px 0;
    .file-status {
        margin:5px;
        i {
            color:#ddd;
            margin:0 10px;
        }
        span {
            color:rgba(157, 157, 157, 0.81);
        }
    }
}

.form-container {
    margin: 0 auto;
    border: 3px solid #EFEFEFEF;
    padding: 3rem;
    border-radius: 6px;
}
  
.form-container form {
    display: inline-block;
}

.form-container form .btn {
    min-width: 100%;
}